# Dependencies
node_modules/
.pnp
.pnp.js
.DS_Store

# Frontend
frontend/node_modules/
frontend/build/
frontend/.DS_Store
frontend/.env*

# Backend
backend/__pycache__/
backend/venv/
backend/.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.sixth/
.idea/
.vscode/ (unless shared)
